/* Start colors */
$white: #fff;
$slider-bg-white: #F6F8FC;
$utp-link-white: #f5f8ff;
$yellow :#FFBE26;
$nav-gray: rgba(255, 255, 255, 0.30);
$slider-gray: #B9C2D7;
$light-blue: #EBF1FE;
$blue: #102087;
$header-blue: #091876;
$blue-button: #112086;
$blue-title: #112087;
$blue-list-text: #2D3B96;
$blue-slider-button: #1E2D95;
$utp-span-blue:#0D1C7D;
/* End colors */

%aa-400 {
  font-family: "AtomicAlice-Regular";
  font-weight: 400;
}

%aa-500 {
  font-family: "AtomicAlice-Medium";
  font-weight: 500;
}