@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

/*

Author: Maksym Palamaniuk
Author URI: maxpalaman@gmail.com

*/

/* Start page styles */
body {
  @extend %aa-400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: #112087;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1 {
  @extend %aa-400;
  font-size: 56px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}
h2,
h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  color: #162a48;
  text-align: center;
}
h2 {
  font-size: 20px;
}
ol,
ul {
  padding: 0;
  padding-inline-start: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #FFBE26;
  }
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}
button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
button:hover {
  background-color: transparent;
}
button,
a {
  cursor: pointer;
}
blockquote {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
}
.container-top {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1744px;
  padding: 0 80px;
  margin: 0 auto;
}
.container-body {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}
/* start header */
.header {
  position: sticky;
  display: flex;
  align-items: center;
  height: 92px;
  top: 0;
  background-color: $header-blue;
  font-size: 18px;
  line-height: 112%;
  z-index: 99;

  &__burger-button {
    display: none;
    width: 30px;
    height: 30px;
    margin-left: 28px;
  }
  &__burger-image {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $white;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: $white;
    }
    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(8px);
    }
  }
} 
.header-navigation {
  margin-left: auto;

  &__list {
    display: flex;
    width: 646px;
    justify-content: space-between;
  }
  &__item-link {
    color: $nav-gray;
    transition: .3s;
  }
  &__item-link:hover {
    color: $white;
    transition: .3s;
  }
}
.header-buttons {
  display: flex;;
  margin-left: 46px;

  &__order,
  &__login {
    @extend %flex-center;
    height: 55px;
    transition: .3s;
  }
  &__order:hover,
  &__login:hover {
    transition: .3s;
  }
  &__order {
    width: 214px;
    text-align: center;
    border-radius: 40px;
    background: $blue-button;
    box-shadow: 10px 10px 21px 0px $utp-span-blue, -5px -5px 17px 0px #0E1A6D;
  }
  &__login {
    margin-left: 57px;
    color: $nav-gray;
  }
}
.utp {
  background: url('../images/usp-bg.jpg') top center no-repeat;
}
.utp-title {
  max-width: 994px;
  margin: 96px auto 0;

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 111.5%;
  }
}
.utp-buttons {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 28px auto 0;

  &__order,
  &__more {
    @extend %flex-center;
    width: 298px;
    height: 56px;
    border-radius: 138px;
    transition: .3s;
  }
  &__order:hover,
  &__more:hover {
    color: $blue;
    transition: .3s;
  }
  &__order {
    background-color: $yellow;
  }
  &__more {
    border: 2px solid $yellow;
    background-color: $white;
    color: $yellow;
  }
}
.utp-links {
  margin-top: 130px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 872px;
    margin: 0 auto 112px;
    gap: 16px;
  }
  &__item-link {
    @extend %aa-500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 388px;
    height: 40px;
    padding: 0 16px;
    color: $blue;
    background-color: $utp-link-white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 16px;
    transition: .3s;
  }
  &__item-link:hover {
    color: $yellow;
    transition: .3s;
    & .utp-links__item-icon {
      path{
        stroke: $yellow;
        transition: .3s;
      }
      transition: .3s;
    }
  }
  &__item-soon::before {
    content: 'скоро';
    @extend %flex-center;
    width: 40px;
    height: 12px;
    background-color: $yellow;
    border-radius: 9px;
    font-size: 12px;
    line-height: 16px;
    color: $utp-span-blue!important;
  }
}
.second {
  background-color: $light-blue;
}
.second-title {
  max-width: 1088px;
  margin: 80px auto 0;
  color: $blue-title;

  &__span {
    color: $yellow;
  }
}
.second-slider {
  display: flex;
  height: 458px;
  margin: 60px auto 115px;
  padding: 49px 57px 0 57px;
  border-radius: 40px;
  background: $slider-bg-white;
  box-shadow: 10px 10px 21px 0px rgba(150, 175, 199, 0.30), -5px -5px 17px 0px $white;

  &__tabs {
    max-height: 374px;
    width: 283px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {  
      height: 10px;
      width: 14px;
      border-radius: 99px;
      transform: scale(2);
      background: $slider-bg-white;
      box-shadow: 5px 2px 5px 0px rgba(150, 175, 199, 0.30) inset;
    }
    &::-webkit-scrollbar-thumb {
      transform: scale(2);
      border-radius: 20px;
      background: $slider-bg-white;
      box-shadow: 10px 12px 21px 10px rgba(150, 175, 199, 0.30), -5px -5px 17px 0px $white;
      cursor: pointer;
    }
    &::-webkit-scrollbar-corner {
      transform: scale(2);
      background: $slider-bg-white;
    }
  }
  &__tabs-item {
    @extend %flex-center;
    width: 247px;
    height: 95px;
  
    &--active {
      border-radius: 40px;
      background: $slider-bg-white;
      box-shadow: 4px 4px 14px 0px rgba(150, 175, 199, 0.30) inset;
      transition: .3s;
    }
    &--active .second-slider__tabs-title {
      color: $blue-slider-button;
      transition: .3s;
    }
    &+& {
      margin-top: 17px;
    }
  }
  &__tabs-content-item {
    display: none;
    height: 345px;
    transition: .3s;
  }
  &__tabs-content-item-wrapp {
    display: flex;
  }
  &__tabs-content-item.second-slider__tabs-content-item--active {
    display: block;
    transition: .3s;
  }
  &__tabs-content-title {
    width: 361px;
    color: $blue-title;
  }
  &__tabs-content-image {
    margin-left: 67px;
  }
  &__tabs-content-text {
    margin-left: 80px;
  }
  &__tabs-content-list {
    width: 235px;
    margin: 20px 0 0 24px;
    line-height: 120%;
  }
  &__tabs-content-list-item {
    display: flex;

    &::before {
      content: url('../images/check.svg');
      width: 23px;
      height: 18px;
      transform: translate(-21px, -27px);
    }
    &+& {
      margin-top: 8px;
    }
  }
}
  
  @import 'media';